/* Body ----------*/

body {
    font-family: Cantarell;
    font-size: 20px;
    padding: 20px 50px;
    background-color: #F5E9CF;
    color: #4D455D;
}


/* Nav ---------*/
a:link {
    text-decoration: none;
    color: #7DB9B6;
}

a:hover {
    text-decoration: none;
    color: #E96479;
}

img {
    padding: 10px;
    width: 40px;
    height: auto;
}

ul li {
    list-style-type: none;
}

li {
    display: inline;
    padding: 0px 20px;
}

.nav {
    position: absolute;
    padding-left: 40%;
    display: block;
}

.hover .nav {
    width: 100%;
    position: relative;
}

li>a {
    display: none;
}

.home:hover {
    background-color: #E96479;
    border-radius: 10px;
    display: block;
}